<h2>{{ question.question_text }}</h2>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.poll_id question.id %}" method="POST">
    {% csrf_token %}
    {% for answer in question.answer_set.all %}
        <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}">
        <label for="answer{{ forloop.counter }}">{{ answer.answer_text }}</label><br>
    {% endfor %}
    <input type="submit" value="ОК">
</form>

